In [1]:
import pandas as pd
import numpy as np

#Goal4 = pd.read_excel('Goal4.xlsx')
Goal4_csv = pd.read_csv('Goal4.csv', low_memory=False)

print(Goal4_csv.head())
#print(Goal4_csv)

   Goal Target Indicator   SeriesCode  \
0     4    4.1     4.1.1  SE_TOT_PRFL
1     4    4.1     4.1.1  SE_TOT_PRFL
2     4    4.1     4.1.1  SE_TOT_PRFL
3     4    4.1     4.1.1  SE_TOT_PRFL
4     4    4.1     4.1.1  SE_TOT_PRFL

                                   SeriesDescription  GeoAreaCode  \
0  Proportion of children and young people achiev...            4
1  Proportion of children and young people achiev...            4
2  Proportion of children and young people achiev...            4
3  Proportion of children and young people achiev...            4
4  Proportion of children and young people achiev...            4

   GeoAreaName  TimePeriod  Value Time_Detail  ...  Unnamed: 42  Unnamed: 43  \
0  Afghanistan        2013   11.0        2013  ...          NaN          NaN
1  Afghanistan        2013   13.0        2013  ...          NaN          NaN
2  Afghanistan        2016   21.5        2016  ...          NaN          NaN
3  Afghanistan        2016   22.5        2016  ...          NaN          NaN
4  Afghanistan        2016   22.0        2016  ...          NaN          NaN

   Unnamed: 44  Unnamed: 45 Unnamed: 46  Unnamed: 47 Unnamed: 48 Unnamed: 49  \
0          NaN          NaN         NaN          NaN         NaN         NaN
1          NaN          NaN         NaN          NaN         NaN         NaN
2          NaN          NaN         NaN          NaN         NaN         NaN
3          NaN          NaN         NaN          NaN         NaN         NaN
4          NaN          NaN         NaN          NaN         NaN         NaN

  Unnamed: 50 Unnamed: 51
0         NaN         NaN
1         NaN         NaN
2         NaN         NaN
3         NaN         NaN
4         NaN         NaN

[5 rows x 52 columns]

In [2]:
#dropping all the columns with only null values
Goal4_csv_new = Goal4_csv.dropna(how='all', axis=1)

#converting dataframe to the csv file
Goal4_csv_new.to_csv('Goal4_new.csv')
print(Goal4_csv_new)

        Goal Target Indicator   SeriesCode  \
0          4    4.1     4.1.1  SE_TOT_PRFL
1          4    4.1     4.1.1  SE_TOT_PRFL
2          4    4.1     4.1.1  SE_TOT_PRFL
3          4    4.1     4.1.1  SE_TOT_PRFL
4          4    4.1     4.1.1  SE_TOT_PRFL
...      ...    ...       ...          ...
191757     4    4.c     4.c.1  SE_TRA_GRDL
191758     4    4.c     4.c.1  SE_TRA_GRDL
191759     4    4.c     4.c.1  SE_TRA_GRDL
191760     4    4.c     4.c.1  SE_TRA_GRDL
191761     4    4.c     4.c.1  SE_TRA_GRDL

                                        SeriesDescription  GeoAreaCode  \
0       Proportion of children and young people achiev...            4
1       Proportion of children and young people achiev...            4
2       Proportion of children and young people achiev...            4
3       Proportion of children and young people achiev...            4
4       Proportion of children and young people achiev...            4
...                                                   ...          ...
191757  Proportion of teachers who have received at le...          894
191758  Proportion of teachers who have received at le...          894
191759  Proportion of teachers who have received at le...          894
191760  Proportion of teachers who have received at le...          894
191761  Proportion of teachers who have received at le...          894

        GeoAreaName  TimePeriod      Value Time_Detail  ...  FootNote  Age  \
0       Afghanistan        2013   11.00000        2013  ...       NaN  NaN
1       Afghanistan        2013   13.00000        2013  ...       NaN  NaN
2       Afghanistan        2016   21.50000        2016  ...       NaN  NaN
3       Afghanistan        2016   22.50000        2016  ...       NaN  NaN
4       Afghanistan        2016   22.00000        2016  ...       NaN  NaN
...             ...         ...        ...         ...  ...       ...  ...
191757       Zambia        2012   95.54508        2012  ...       NaN  NaN
191758       Zambia        2012   89.71963        2012  ...       NaN  NaN
191759       Zambia        2017  100.00000        2017  ...       NaN  NaN
191760       Zambia        2017   98.75030        2017  ...       NaN  NaN
191761       Zambia        2017   97.52328        2017  ...       NaN  NaN

       Education level Location Nature Quantile Reporting Type      Sex  \
0               PRIMAR      NaN      C      NaN              G  BOTHSEX
1               PRIMAR      NaN      C      NaN              G  BOTHSEX
2               GRAD23      NaN      C      NaN              G     MALE
3               GRAD23      NaN      C      NaN              G   FEMALE
4               GRAD23      NaN      C      NaN              G  BOTHSEX
...                ...      ...    ...      ...            ...      ...
191757          LOWSEC      NaN      E      NaN              G   FEMALE
191758          LOWSEC      NaN      E      NaN              G     MALE
191759          PRIMAR      NaN      C      NaN              G     MALE
191760          PRIMAR      NaN      C      NaN              G  BOTHSEX
191761          PRIMAR      NaN      C      NaN              G   FEMALE

       Type of skill    Units
0         SKILL_MATH  PERCENT
1         SKILL_READ  PERCENT
2         SKILL_READ  PERCENT
3         SKILL_READ  PERCENT
4         SKILL_READ  PERCENT
...              ...      ...
191757           NaN  PERCENT
191758           NaN  PERCENT
191759           NaN  PERCENT
191760           NaN  PERCENT
191761           NaN  PERCENT

[191762 rows x 22 columns]

In [8]:
df = pd.DataFrame(Goal4_csv_new)
#print(df)

df['Value'] = df['Value'].fillna(df['Value'].mean())
#df['X2'] = df['X2'].fillna(df['X2'].median())

df['BasePeriod'] = df['BasePeriod'].fillna(df['BasePeriod'].median())

In [24]:
Goal4_csv_new.to_csv('Goal4_new.csv')

In [25]:
df_most_common_imputed = Goal4_csv_new.apply(lambda x: x.fillna(x.value_counts().index[0]))

In [21]:
df['FootNote'] = df['FootNote'].fillna(df['FootNote'].value_counts().index[0])
df['Age'] = df['Age'].fillna(df['Age'].value_counts().index[0])
df['Education level'] = df['Education level'].fillna(df['Education level'].value_counts().index[0])
df['Location'] = df['Location'].fillna(df['Location'].value_counts().index[0])
df['Quantile'] = df['Quantile'].fillna(df['Quantile'].value_counts().index[0])
df['Sex'] = df['Sex'].fillna(df['Sex'].value_counts().index[0])
df['Type of skill'] = df['Type of skill'].fillna(df['Type of skill'].value_counts().index[0])

In [22]:
Goal4_csv_new.isnull().sum()

#Goal4_csv_new.dtypes

Goal                 0
Target               0
Indicator            0
SeriesCode           0
SeriesDescription    0
GeoAreaCode          0
GeoAreaName          0
TimePeriod           0
Value                0
Time_Detail          0
BasePeriod           0
Source               0
FootNote             0
Age                  0
Education level      0
Location             0
Nature               0
Quantile             0
Reporting Type       0
Sex                  0
Type of skill        0
Units                0
dtype: int64

In [7]:
Goal4_csv_new.dtypes

Goal                   int64
Target                object
Indicator             object
SeriesCode            object
SeriesDescription     object
GeoAreaCode            int64
GeoAreaName           object
TimePeriod             int64
Value                float64
Time_Detail           object
BasePeriod           float64
Source                object
FootNote              object
Age                   object
Education level       object
Location              object
Nature                object
Quantile              object
Reporting Type        object
Sex                   object
Type of skill         object
Units                 object
dtype: object

In [25]:
Goal4_csv_new = Goal4_csv.dropna(how='all',thresh = 100000, axis=1)
Goal4_csv_new.dtypes

Goal                   int64
Target                object
Indicator             object
SeriesCode            object
SeriesDescription     object
GeoAreaCode            int64
GeoAreaName           object
TimePeriod             int64
Value                float64
Time_Detail           object
Source                object
Education level       object
Location              object
Nature                object
Quantile              object
Reporting Type        object
Sex                   object
Units                 object
dtype: object

In [18]:
Goal4_csv_new.Quantile.value_counts()

_T    36665
Q2    19942
Q4    19942
Q3    19942
Q5    19942
Q1    19942
Name: Quantile, dtype: int64

In [19]:
Goal4_csv_new.Sex.value_counts()

BOTHSEX    51506
FEMALE     45731
MALE       45696
Name: Sex, dtype: int64

In [24]:
Goal4_csv_new.apply(pd.Series.value_counts)

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,FootNote,Age,Education level,Location,Nature,Quantile,Reporting Type,Sex,Type of skill,Units
0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,634.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.00046,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.00053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.00066,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.0009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
_T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,148.0,NaN,NaN,36665.0,NaN,NaN,NaN,NaN
age 15-49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,297.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
comminucations and information technology regulatory authority,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
the Statistical Office in Szczecin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Национальный статистический комитет Республики Беларусь,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
def __init__(self):
    def fit(self, X, y=None):
        self.fill = pd.Series([X[c].value_counts().index[0]
                               if X[c].dtype == np.dtype('O') else X[c].mean() for c in X], index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

    
        """Impute missing values.

        Columns of dtype object are imputed with the most frequent value 
        in column.

        Columns of other types are imputed with mean of column.

        """
    def fit(self, X, y=None):

        self.fill = pd.Series([X[c].value_counts().index[0]
            if X[c].dtype == np.dtype('O') else X[c].mean() for c in X],
            index=X.columns)

        return self

    def transform(self, X, y=None):
        return X.fillna(self.fill)

data = [
    ['a', 1, 2],
    ['b', 1, 1],
    ['b', 2, 2],
    [np.nan, np.nan, np.nan]
]

X = Goal4_csv_new
xt = DataFrameImputer().fit_transform(X)

print('before...')
print(X)

NameError: name 'DataFrameImputer' is not defined

In [31]:
from sklearn_pandas import CategoricalImputer
imputer = CategoricalImputer()
imputer.fit_transform(Goal4_csv_new)

ImportError: cannot import name 'CategoricalImputer' from 'sklearn_pandas' (C:\Users\Syed Ali Asif\.conda\envs\test1\lib\site-packages\sklearn_pandas\__init__.py)

In [ ]:
Goal4_csv_new.isnull().sum()

In [ ]:
#Goal4_csv_new.dtypes
import sklearn
from sklearn.impute import SimpleImputer

from sklearn.impute import KNNImputer
import pandas as pd

imputer = KNNImputer()
imputed_data = imputer.fit_transform(Goal4_csv_new) # impute all the missing data

Goal4_csv_new_imputed = pd.DataFrame(imputed_data)
Goal4_csv_new_imputed.isnull().sum()

In [46]:
#KNN for imputing categorical values
from fancyimpute import KNN

lis = []
for i in range(0, Goal4_csv_new.shape[1]):
     
    if(Goal4_csv_new.iloc[:,i].dtypes == 'object'):
        Goal4_csv_new.iloc[:,i] = pd.Categorical(Goal4_csv_new.iloc[:,i])
        #print(Goal4_csv_new[[i]])
        Goal4_csv_new.iloc[:,i] = Goal4_csv_new.iloc[:,i].cat.codes 
        Goal4_csv_new.iloc[:,i] = Goal4_csv_new.iloc[:,i].astype('object')
         
        lis.append(Goal4_csv_new.columns[i])

        Goal4_csv_new_imputed = pd.DataFrame(KNN(k = 3).fit_transform(Goal4_csv_new), columns = Goal4_csv_new.columns)

ModuleNotFoundError: No module named 'fancyimpute'

In [ ]:
Goal4_csv_new_imputed.isnull().sum()
Goal4_csv_new_imputed.to_csv('Goal4_new_imputed.csv')

In [ ]:
Goal4_csv_new.isnull().sum()

In [ ]:
df['X1'] = df['X1'].fillna(df['X1'].mean())
df['X2'] = df['X2'].fillna(df['X2'].median())